/* ----------------- стиль для Постоянные клиенты */



.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;

}

.clients__item {
  // flex-basis: calc((100% - 1 * 30px) / 2);
}

.clients__link {
  width: 210px;
  height: 90px;

  color: var(--light-gray-color);
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--light-gray-color);
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function), color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--blue-color);
    border-color: var(--blue-color);
  }

  @media screen and (min-width: 768px) {
    width: 220px;
    height: 90px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  height: 90px;
  }

}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

