/* ----------------- стиль форм */

.footer__subscribe-form {
  @media screen and (max-width: 1199px){
    width: 100%;
  }
  

  @media screen and (min-width: 1200px){
    margin-left: auto;
  }
  
}

.footer__signup-form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  
  @media screen and (min-width: 768px) and (max-width: 1199px){
    align-items: center;
  }

  @media screen and (min-width: 1200px){
    gap: 20px;
    flex-direction: row;
  }

  & input:focus {
    border: 1px solid var(--blue-color);
  }
}

.footer__email-input {
  height: 50px;
  width: 100%;   

  @media screen and (min-width: 768px){
    width: 450px;
  }


  @media screen and (min-width: 1200px){
  width: 358px;
}

  font-size: 16px;
  line-height: 1.25;

  letter-spacing: 0.03em;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--white-color);
  padding-left: 16px;
  background: rgba(0, 0, 0, 0);

  &::placeholder {
    font-family: var(--main-font);
    font-size: 16px;
    line-height: 1.25;

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

}


.footer__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 200px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 28px;

  cursor: pointer;
  border: none;

  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--blue-color-hover);
  }

}

.footer__subscribe-form svg {
  fill: currentColor;
}
