/* ----------------- -----------------  стиль для логотипа */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: var(--blue-color);
  text-decoration: none;

  &__focus-modificator {
    color: var(--logo-black-color);
  }
  
  &__focus-footer-modificator {
    color: var(--white-color);
  }
}

/* From 480px and wider */
@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

/* From 1600px and wider, override the background. */
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}