:root {
  --title-text-color: #212121;
  --logo-black-color: #000;
  --main-text-color: #757575;
  --blue-color: #2196f3;
  --blue-color-hover: #188ce8;
  --white-color: #fff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
  --footer-background-color: #2f303a;
  --footer-contacts-text-color: rgba(255, 255, 255, 0.5);
  --filter-background-color: #f5f4fa;
  --portfolio-border-color: #eee;
  --light-gray-color: #afb1b8;
  --main-font: 'Roboto', sans-serif;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}